name: unittest
on: push

jobs:
  test:
    name: unittest
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          pip3 install grpcio protobuf pyyaml
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Build
        run: make all
      - name: Run unittest
        run: make test
